version: '3.7'

services:
  api-gateway:
    image: abstractize/gateway
    build:
      context: Gateway
      dockerfile: Dockerfile

  zipservice:
    image: abstractize/zipservice
    build:
      context: WeatherForecastService
      dockerfile: Dockerfile